.App {
  width: 480px;
  margin: auto;
}
.header {
  text-align: center;
  font-family: 'Montserrat';
}
.balance-container {
  text-align: center;
  margin: 15px;
}
.balance-label, .balance-value  {
  margin: 0px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bolder;
}
.balance-label {
  font-size: 12px;
}
.balance-value {
  font-size: 28px;
}
.cashbox {
  margin: 5px;
  font-family: 'Montserrat';
  font-weight: bolder;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 3px 1px darkgray;
  border-radius: 50px;
}
.income-label, .expense-label, .income-value, .expense-value {
   margin: 2px;
   text-transform: uppercase;
}
.income-value {
  color: green;
  font-size: 18px;
  font-weight: bolder;
}
.expense-value {
  color: red;
  font-size: 18px;
  font-weight: bolder;
}
.box1, .box2 {
  margin: 0;
  width: 49%;
  text-align: center;
  display: inline-block;
}
.box1 {
  border-right: 1px solid lightgray;
}

.history-container {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  border-bottom: 1px dashed lightgray;
}
.transaction-name, .transaction-amount {
  padding: 12px 0px;
  width: 100%;
  margin: 8px auto;
  border: none;
  font-family: "Montserrat";
  font-weight: 500;
  box-shadow: 0px 1px 1px 1px darkgray;
  border-radius: 5px;
}
.transaction-name:focus, .transaction-amount:focus, .add-income:focus, .add-expense:focus {
  outline: none;
}
.add-income {
  width: 100%;
  margin: 8px auto;
  padding: 10px;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat";
  box-shadow: 0px 1px 1px 1px lightgray;
  font-weight: 600;
  background-color: lightgreen;
  cursor: pointer;
  transition: background-color .2s;
}
.add-income:active {
  background-color: green;
}
.add-expense {
  width: 100%;
  margin: 8px auto;
  padding: 10px;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat";
  box-shadow: 0px 1px 1px 1px lightgray;
  font-weight: 600;
  background-color: darkred;
  cursor: pointer;
  transition: background-color .2s;
}
.add-expense:active {
  background-color: red;
}
.transactions-list {
  padding: 0;
  list-style-type: none;
}
.transaction-income, .transaction-expense {
  cursor: pointer;
  font-size: 14px;
  background-color: white;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px lightgray;
}
.transaction-income {
  border-left: 4px solid green;
}
.transaction-expense {
  border-left: 4px solid darkred;
}
.item-name {
  text-align: left;
}
.item-amount {
  text-align: right;
}
