.App {
  width: 480px;
  margin: auto;
}
.header {
  text-align: center;
  color: lightslategray;
  font-family: 'Montserrat';
}
.footer {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
  color: slategray;
  font-family: Montserrat;
  font-size: 12px;
  text-transform: capitalize;
}
.footer > span {
  color: darkred;
}
.footer > a {
  text-decoration: none;
  color: slategray;
}
.footer > a:hover {
  color: darkslategray;
  font-weight: 600;
}
.balance-container {
  text-align: center;
  margin: 15px;
}
.balance-label, .balance-value  {
  margin: 0px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bolder;
}
.balance-label {
  font-size: 12px;
}
.balance-value {
  font-size: 28px;
}
.cashbox {
  margin: 5px;
  font-family: 'Montserrat';
  font-weight: bolder;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 3px 1px darkgray;
  border-radius: 50px;
}
.income-label, .expense-label, .income-value, .expense-value {
   margin: 2px;
   text-transform: uppercase;
}
.income-value {
  color: green;
  font-size: 18px;
  font-weight: bolder;
}
.expense-value {
  color: red;
  font-size: 18px;
  font-weight: bolder;
}
.box1, .box2 {
  margin: 0;
  width: 49%;
  text-align: center;
  display: inline-block;
}
.box1 {
  border-right: 1px solid lightgray;
}
.transaction-container {
  transition: translateY;
}

.history-container {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  border-bottom: 1px dashed lightgray;
}
.transaction-name, .transaction-amount {
  padding: 12px 0px;
  width: 100%;
  margin: 8px auto;
  border: none;
  font-family: "Montserrat";
  font-weight: 500;
  box-shadow: 0px 1px 1px 1px darkgray;
  border-radius: 5px;
  transition: padding .2s, border-bottom .2s;
}
.transaction-name:focus, .transaction-amount:focus, .add-income:focus, .add-expense:focus {
  outline: none;
}
.transaction-name:focus, .transaction-amount:focus {
  padding-left: 10px;
}
.add-income {
  width: 100%;
  margin: 8px auto;
  padding: 10px;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat";
  box-shadow: 0px 1px 1px 1px lightgray;
  font-weight: 600;
  background-color: lightgreen;
  cursor: pointer;
  transition: background-color .2s;
}
.add-income:active {
  background-color: green;
}
.add-expense {
  width: 100%;
  margin: 8px auto;
  padding: 10px;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat";
  box-shadow: 0px 1px 1px 1px lightgray;
  font-weight: 600;
  background-color: darkred;
  cursor: pointer;
  transition: background-color .2s;
}
.add-expense:active {
  background-color: red;
}
.transactions-list {
  padding: 0;
  list-style-type: decimal;
}
.transaction-income, .transaction-expense {
  cursor: pointer;
  font-size: 14px;
  background-color: white;
  margin: 5px;
  padding: 8px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 1px 1px 1px lightgray;
  animation: transaction-add-anim .2s linear;
}

 @keyframes transaction-add-anim {
   from { transform: translateX(-50px);}
   to { transform : translateX(0)}
 }

.add-expense:disabled, .add-income:disabled {
  background-color: lightgray;
}
.transaction-income {
  border-left: 4px solid green;
}
.transaction-expense {
  border-left: 4px solid darkred;
}
.transaction-income:hover {
  color: green; 
}
.transaction-expense:hover {
  color: darkred;
}
.transactions-list {
  position: relative;
}
.item-clear {
  position: absolute;
  left: 100%;
  top: 1;
  color: gray;
  text-transform: lowercase;
  font-size: 18px;
}
.item-clear:hover {
  color: darkred;
}
.item-name {
  text-transform: capitalize;
  float: left;
}
.item-amount {
  float: right;
}
.no-transactions {
  color: lightslategray;
  font-size: 12px;
  text-transform: capitalize;
}
